:root {
    background-image: url(../Images/maingamecowboy.jpg);
    background-size: 100% 100%;
}

body {
    color: #fff;
}

#scoretext {
padding: 1.5rem 1.5rem;
background: linear-gradient(#828180, #713A04);
border-radius: 8px;
margin-bottom: 2rem;
}

#score {
    padding: 1.5rem 1.5rem;
    background: linear-gradient(#713A04,#828180);
    border-radius: 8px;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #542D07;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #8E4F11;
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color:white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(#4DD31F, #227606);
}

.incorrect {
    background: linear-gradient(#C1120A, #970902);
}

/* hud begins */

#hud {
    display: flex;
    justify-content: space-around;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #BEC1BE;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #BEC1BE;
    width: 0%;
}

@media screen and (max-width: 768) {
    .choice-container {
        min-width: 40rem;
    }
}