:root {
    background-image: url(../Images/highscorescowboy.jpg);
    background-size: 100% 100%;
}

#finalScore {
    padding: 1.5rem 1.5rem;
    background: linear-gradient(#828180, #603D05, #713A04, #828180);
    border-radius: 8px;
}

#goHome {
    padding: 1.5rem 1.5rem;
    background: linear-gradient(#828180, #603D05, #713A04, #828180);
    border-radius: 8px;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(#603D05, #828180);
    border-radius: 8px;
}

#savecheck {
    margin: auto;
}